<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>User Registration</h2>
      </div>
    </div>
    <form class="col s12 white">
      <!-- User Name and Password row -->
      <div class="row">
        <div class="input-field col s6">
          <input id="user_name" type="text" class="validate">
          <label for="first_name">User Name</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <!-- Email row -->
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <!-- First Name and Last Name row -->
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
    </form>
  </div>
</div>
